
<style type="text/css">
    body{
        background-image: url("https://wallpaperxyz.com/wp-content/uploads/Website-Background-Images-HD-Free-Download-Wallpaperxyz.com-11.jpg");
        
    }
</style>
<body class="body">
    <style type="text/css">
        h1
        {
            text-align: center;
            font-size: 40px;
            color: #214946;
        }
    </style><h1 class="h1">Neha Mehandi Designer</h1><br><br>
    <table cellspacing="20" cellpadding="20" bgcolor="#FFFFFF" width="500" border="3" align="left">
        <tr>
            <th align="center" bgcolor="#FFCC99"><%= link_to "Log Out ", controller: "sessions", action: 'destroy' %></th></tr>
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to "Home ", controller: "sessions", action: 'welcome' %></th></tr>    
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to "About Us ", controller: "about", action: 'about' %></th></tr>
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to "Contact Us ", controller: "contact", action: 'contact' %></th></tr>
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to "mehandi designs ", controller: "home", action: 'mehandi_designs' %></th></tr>
        
    </table>&nbsp;&nbsp;
    <table cellspacing="20" cellpadding="20" bgcolor="#FFFFFF" width="500" border="3" align="right">
        <tr>
            <th align="center" bgcolor="#FFCC99"><%= link_to "view feedback ", controller: "feedbacks", action: 'index' %></th></tr>
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to "order ", controller: "orders", action: 'new' %></th></tr>    
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to "Add feedback ", controller: "feedbacks", action: 'new' %></th></tr>
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to "list of orders ", controller: "orders", action: 'index' %></th></tr>
        <tr><th align="center" bgcolor="#FFCC99"><%= link_to 'Show', controller:"custs",action: 'index' %></th></tr>
        
    </table>