
<style type="text/css">
    body{
        background-image: url("https://wallpaperxyz.com/wp-content/uploads/Website-Background-Images-HD-Free-Download-Wallpaperxyz.com-11.jpg");
        
    }
       
</style>
<body class="body">
  <%= form_with(model: cust) do |form| %>
  <% if cust.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cust.errors.count, "error") %> prohibited this cust from being saved:</h2>

      <ul>
        <% cust.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<table cellspacing="10" cellpadding="5" bgcolor="#FFFFFF" width="500" border="3" align="center">
  <tr>
  <div class="field">
    <th bgcolor="#FF00FF"><%= form.label :name %></th>
    <th bgcolor="#FFCC99"><%= form.text_field :name %></th>

  </div>
</tr>
<tr>
  <div class="field">
    <th bgcolor="#FF00FF"><%= form.label :mobile %></th>
    <th bgcolor="#FFCC99"><%= form.text_field :mobile %></th>
  </div>
</tr>
<tr>
  <div class="field">
    <th bgcolor="#FF00FF"><%= form.label :email %></th>
    <th bgcolor="#FFCC99"><%= form.text_field :email %></th>
  </div>
</tr>
  <tr>
    <div class="field">
    <th bgcolor="#FF00FF"><%= form.label :password %></th>
    <th bgcolor="#FFCC99"><%= form.password_field :password %></th>
  </div>
</tr>
<tr>
  <div class="field">
    <th bgcolor="#FF00FF"><%= form.label :password_confirmation %></th>
    <th bgcolor="#FFCC99"><%= form.password_field :password_confirmation %></th>
  </div>
</tr>
<tr>

  <div class="field">
    <th bgcolor="#FF00FF"><%= form.label :address %></th>
    <th bgcolor="#FFCC99"><%= form.text_field :address %></th>
  </div>
</tr>
<tr>
  <div class="field">
    <th bgcolor="#FF00FF"><%= form.label :dob %></th>
    <th bgcolor="#FFCC99"><%= form.date_select :dob %></th>
  </div>
</tr>
<tr>
  <div class="actions">
    <th colspan="2" bgcolor="#800080"><%= form.submit %></th>
  </div>
</tr>
</table>
<% end %>
